<div class="list-group d-none d-md-block">
    <a href="#" class="list-group-item shop-category-heading border-right-0 border-left-0 border-top-0 border-bottom do-nothing">
        <h5>Category</h5>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-right-0 border-left-0">Sanitiser & Masks<span class="fa fa-caret-right"></span></a>
    <a href="#" class="list-group-item list-group-item-action border-right-0 border-left-0">Bag<span class="fa fa-caret-right"></span></a>
    <a href="#" class="list-group-item list-group-item-action border-right-0 border-left-0">Bottle<span class="fa fa-caret-right"></span></a>
    <a href="#" class="list-group-item list-group-item-action border-right-0 border-left-0">Cap<span class="fa fa-caret-right"></span></a>
    <a href="#" class="list-group-item list-group-item-action border-right-0 border-left-0">Corporate polo Tshirt <span class="fa fa-caret-right"></span></a>
    <a href="#" class="list-group-item list-group-item-action border-right-0 border-left-0">Duffle bag<span class="fa fa-caret-right"></span></a>
    <a href="#" class="list-group-item list-group-item-action border-right-0 border-left-0">Hoody Jacket<span class="fa fa-caret-right"></span></a>
    <a href="#" class="list-group-item list-group-item-action border-right-0 border-left-0">Photo frame<span class="fa fa-caret-right"></span></a>
    <a href="#" class="list-group-item list-group-item-action border-right-0 border-left-0">Pen stand<span class="fa fa-caret-right"></span></a>
    <a href="#" class="list-group-item list-group-item-action border-right-0 border-left-0">Pen<span class="fa fa-caret-right"></span></a>
    <a href="#" class="list-group-item list-group-item-action border-right-0 border-left-0">Round Tshirt<span class="fa fa-caret-right"></span></a>
    <a href="#" class="list-group-item list-group-item-action border-right-0 border-left-0">Tiffin Box<span class="fa fa-caret-right"></span></a>
    <a href="#" class="list-group-item list-group-item-action border-right-0 border-left-0">Tshirt<span class="fa fa-caret-right"></span></a>
    <a href="#" class="list-group-item list-group-item-action border-right-0 border-left-0">Wall Clock<span class="fa fa-caret-right"></span></a>

</div>

<div class="d-block d-md-none mb-3">
    <select class="form-control shadow-none left-panel-select">
        <option>Select Category</option>
        <option>Sanitiser & Masks</option>
        <option>Bag</option>
        <option>Bottle</option>
        <option>Cap</option>
        <option>Corporate Polo Tshirt</option>
        <option>Duffle Bag</option>
        <option>Hoody Jacket</option>
        <option>Photo Frame</option>
        <option>Pen Stand</option>
        <option>Pen</option>
        <option>Round Tshirt</option>
        <option>Tiffin box</option>
        <option>Tshirt</option>
        <option>Wall Clock</option>
    </select>
</div>